body{
    background-image: url('/images/landing_bg.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.quiz{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(14, 214, 44);
    transition: 0.5s;
}
.quiz:hover {
    background-color: rgb(14, 123, 67);
}

.container {
    height: 450px;
    position: relative; 
    display: flex;
    justify-content: center;
   } 

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 

    display: flex;
    justify-content: center;
    align-items: center ;

  }  

